<div class="card u-mb-m" style="width:100%;">
  <div class="card-header">
    <% if space.user.avatar.present? %>
      <%= link_to user_path(space.user.username) do %>
        <%= image_tag space.user.avatar.url(:thumb), :class => "rounded float-right", :style => "width:50px;" %>
      <% end %>
    <% end %>
    <%= link_to space.user.username, user_path(space.user.username) %><br />
    <%= link_to space_path(space), class: "text-muted" do %> 
      <small>
        <%= time_ago_in_words(space.created_at) %> ago
      </small>
    <% end %>
  </div>
  <% if space.image.present? %>
    <%= link_to space_path(space), class: 'block' do %>
      <%= image_tag space.image.url, :class => "card-img-top img-cover" %>
    <% end %>
  <% end %>
  <div class="card-block">
    <p class="card-text">
      <%= space.desscription %>
    </p>
  </div>
  <% if user_signed_in? %>
    <div class="card-footer text-muted">      
      <% if current_user.voted_up_on? space %> 
        <%= link_to 'Unvote', unvote_space_path(space), method: :delete, class: 'card-link btn btn-secondary' %>
      <% else %>
        <%= link_to 'Vote', vote_space_path(space), method: :post, class: 'card-link btn btn-secondary' %>
      <% end %>
      <% if space.user == current_user %>
        <%= link_to 'Edit', edit_space_path(space), class: 'card-link' %></td>
        <%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-link' %>
      <% end%>
    </div>
  <% end %>
</div>