<%= form_for(space, html: { multipart: true }) do |f| %>
  <% if space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(space.errors.count, "error") %> prohibited this space from being saved:</h2>

      <ul>
      <% space.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :desscription %>
    <%= f.text_area :desscription, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control-file" %>
  </div>

  <div class="form-group row">
    <%= f.label :rating %>
    <%= f.number_field :rating, class: "form-control" %>
  </div>

  <div class="form-group row">
    <%= f.submit class: "btn btn-primary btn-sm" %>
    <%= link_to 'Back', spaces_path, class: "btn btn-link btn-sm" %>
  </div>
<% end %>
