<div class="container">

  <h1>Spaces</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Title</th>
        <th>Desscription</th>
        <th>Rating</th>
        <th>User</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @spaces.each do |space| %>
        <tr>
          <td><%= space.votes_for.up.size %></td>
          <td><%= space.title %></td>
          <td><%= space.desscription %></td>
          <td><%= space.rating %></td>
          <td><%= space.user.username %></td>
          <td><%= link_to 'Show', space %></td>
          <% if user_signed_in? %>
            <% if current_user.voted_up_on? space %> 
              <td><%= link_to 'Unvote', unvote_space_path(space), method: :delete %></td>
            <% else %>
              <td><%= link_to 'Vote', vote_space_path(space), method: :post %></td>
            <% end %>
          <% end %>
          <% if space.user == current_user %>
            <td><%= link_to 'Edit', edit_space_path(space) %></td>
            <td><%= link_to 'Destroy', space, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? %>
    <%= link_to 'New Space', new_space_path %>
  <% end %>

</div>
