<!DOCTYPE html>
<html>
  <head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= link_to "Snap your Space", root_path, class: "navbar-brand" %>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item <%= active_class(root_path) %>"><%= link_to "Home", root_path, class: "nav-link" %></li>
            <li class="nav-item <%= active_class(about_path) %>"><%= link_to "About", about_path, class: "nav-link" %></li>
            <li class="nav-item <%= active_class(contact_us_path) %>"><%= link_to "Contact", contact_us_path, class: "nav-link" %></li>
          </ul>
          <ul class="nav navbar-nav"
            <!-- Login Buttons -->
            <% if user_signed_in? %>
              <li class="nav-item pull-md-right"><%= link_to "Log out", signout_path, method: :delete, class: "nav-link" %></li>  
            <% else %>
              <li class="nav-item float-md-right"><%= link_to "Sign in", signin_path, class: "nav-link" %></li>>
              <li class="nav-item float-md-right"><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Flash Messages -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2017 SnapYourSpace</p>
        </center>
      </div>
    </footer>

  </body>
</html>
